python
.DS_Store
.idea
*.DS_Store
cmake-build-debug
cmake-build-release
build
CMakeLists.txt
release
__pycache__
.pytest_cache
win_python_build
pyairaw.cpp
self_python_build
*.jpg
*.jpeg
*.png
*.gif
*.mp4
*.avi
*.mov
*.mp3
*.wav
*.ogg
*.flac
*.zip
*.tar
*.gz
*.bz2
*.7z
*.pdf
*.doc
*.docx
*.xls
*.xlsx
*.ppt
*.pptx
*.odt
*.ods
*.odp
*.csv
*.json
*.xml
*.html
*.css
*.js
*.md
*.log
*.bak
*.tmp
*.pyc
*.pyo
*.pyd
*.so
*.dylib
*.dll
src/build
src/dist
src/zeus.zeus.egg-info
